Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
data/Makefile.in
install-sh
ltmain.sh
missing
src/Makefile.in
src/bin/Makefile.in
Makefile
config.h
config.log
config.status
data/Makefile
libtool
src/Makefile
src/bin/.deps/
src/bin/Makefile
src/bin/terminus
stamp-h1
terminus-config
terminus_docs.tar.gz
*.o
