src/makefile.in
src/aclocal.m4
src/autom4te.cache
src/config.guess
src/config.h.in
src/config.sub
src/configure
src/data/Makefile.in
src/install-sh
src/ltmain.sh
src/missing
src/src/Makefile.in
src/src/bin/Makefile.in
src/Makefile
src/config.h
src/config.log
src/config.status
src/data/Makefile
src/libtool
src/src/Makefile
src/src/bin/.deps/
src/src/bin/Makefile
src/src/bin/terminus
src/stamp-h1
src/terminus-config
src/terminus_docs.tar.gz
*.o
